<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PAGE 404</title>
        <link rel="stylesheet" href="/def_styles.css" type="text/css">
        <script src="../../JS/requester.js"></script>
    </head>
    <body>
        <h1>Hey there!</h1>
        <br><br>
        <p>The page you requested dows not exist (yet).</p>
        <br>
        <a href="/">Back to homepage!</a>
    </body>
</html>