body {
    background-color: black;
}

h1 {
    color: #e60000;
}

h2, h3 {
    color: white;
}
p {
    color: darkorange;
}

a {
    color: dodgerblue;
}

a:hover {
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 5px solid;
    color: white;
}

tr{
    height: 25px;
}
td {
    text-align: center;
    height: 25px;
}